#face_img {
    text-align: center;
}
#face_img img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 7px 10px 2px #BBB;
}
#name_text {
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
}
#major_text {
    text-align: center;
    font-size: 25px;
    color: #a7a7a7;
}
p {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
	font-size: 15px;
}
.flip3D {
    width: 500px;
    height: 500px;
    margin: 10px auto;
    position: relative;
    z-index: 1;
}
.flip3D > .front {
    position: absolute;
    transform: perspective( 600px ) rotateY( 0deg );
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    z-index: -1;
}
.flip3D > .back {
    position: absolute;
    transform: perspective( 600px ) rotateY( 180deg );
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    top: 150px;
    margin: 0 100px;
    z-index: -1;
}
.flip3D:hover > .front {
    transform: perspective( 600px ) rotateY( -180deg);
}
.flip3D:hover > .back {
    transform: perspective( 600px ) rotateY( 0deg);
}