img {
	width:50%;
	height:100%;
}
div {
	height: 30%;
}
img {
	display: inline-block;
}
.sugg_text_div {
	border-style: solid;
	border-color: #4CAF50;
	margin-left: 10px;
	vertical-align: top;
	display: inline-block;
	width:48%;
}
.sugg_whole_div {
	min-width: 1050px;
    width: 90%;
    border: 15px groove #73AD21;
    padding: 10px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 2%;
}
h2 {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}
h3 {
	margin: 1px;
}